<!-- footer -->
<footer class="footer">
  <div class="footer-1">
    <img src="/images/homestie-2.png" />

    <div>
      <h3>About <span>Homestie</span></h3>
      <p class="footer-links">
        <a href="/meetteam">Minds</a> &nbsp;|&nbsp;
        <a href="/about">About</a> &nbsp;|&nbsp;
        <a href="/contact">Contact</a>
      </p>
      <p class="footer-copyright">© 2021 Homestie Pvt. Ltd.</p>
    </div>
  </div>

  <div class="footer-2">
    <div>
      <div>
        <i class="fa fa-map-marker icon"></i>
      </div>
      <div class="f-2-content">
        <p>
          Parliament duty group campous opposite crown plaza, kalkaji, New delhi, 110019
        </p>
      </div>
    </div>

    <div>
      <div>
        <i class="fa fa-phone icon"></i>
      </div>
      <div class="f-2-content">
        <p>+91 9587213384</p>
      </div>
    </div>

    <div>
      <div>
        <i class="fa fa-envelope icon"></i>
      </div>
      <div class="f-2-content">
        <p><a href="mailto:homestie2021@gmail.com">homestie2021@gmail.com</a></p>
      </div>
    </div>
  </div>

  <div class="footer-3">
    <p class="footer-company-about">
      About the company
    </p>
    <p>We offer videos and appointments for
      building or fixing any electronics you need.</p>
    <div class="footer-icons">
      <a href="https://www.facebook.com/homstie.app.7" class="facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
      <a href="#" class="insta"><i class="fab fa-instagram-square fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/homestie-app-45aa961b8" class="linkedin"><i class="fa fa-linkedin-square fa-2x"></i></a>
      <a href="https://www.youtube.com/channel/UCqJW8nHDyqCSW2ToZu3Yd4Q" class="youtube"><i class="fa fa-youtube-square fa-2x"></i></a>
    </div>
  </div>
</footer>

<!-- bootstrap js -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- custom js -->
<script>
  function moveToTop() {
    document.body.scrollTop = 0;  //safari
    document.documentElement.scrollTop = 0;  //chrome
  }
  $(document.ready(() => {
      $('#mycarousel').carousel({ interval: 1000 });
  }))
</script>
<script src="/js/home-min.js"></script>
</body>
</html>