<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/589c2a6ba2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/home-min.css" />
  </head>
  <body>