<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/about-min.css">
</head>

<body>
    <div class="big-container">
        <div class="about">
            <h1 class="about-us-heading">About Us</h1>

            <p class="about-p">Homestie is the project which will offer employment to many people from small-scale to large-scale profession.The idea of this project came to us during the COVID-19 pandemic due to which many workers lose their job. Project HOMESTIE is a complete package of what you need.You can find employment,can find the installation video of the newly bought product or can book the technician if you found some difficulty in just a click.</p>
            <p class="about-p">Our Team had worked together to design, create and produce work that we are proud of for folks that we believe in.</p>
        </div>

        <div class="container">
            <div class="goals">
                <h1>Our Goals Are</h1>
                <div>
                    <p class="goals-p">To Provide the end user with intellect to the product installing, servicing and managing new appliances (home, electrical etc.)</p>
                    <p class="goals-p">To provide a platform for geeks to share ideas regarding a product.</p>
                    <p class="goals-p">To provide employment to daily wage earners without risking their lives.</p>
                    <p class="goals-p">To provide small scale earners most benefits increasing their cut by eliminating any third party.</p>
                </div>
            </div>

                <img src="/images/homestie.png" alt="homestie_logo" class="image">
        </div>

        <div style="text-align: center;">
            <a class="team-btn" href="/meetteam">Meet the team</a>
        </div>
</body>

</html>