<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get In Touch</title>
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/085c738080.js" crossorigin="anonymous"></script>
    <!-- sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- custom css -->
    <link rel="stylesheet" href="/css/contact-min.css" />
</head>

<body>
    <div class="first-box">
        <div class="main-container">
            <h3 style="text-align: center;color: #f4f4f4;">Get in touch</h3>
            <form action="/contact" class="contact-form" method="POST" id="form">
                <label for="name">Name</label>
                <input autocomplete="off" type="text" class="input-field contact-scrollreveal sweet-1" name="name" />

                <label for="name">Subject</label>
                <input autocomplete="off" type="text" class="input-field contact-scrollreveal sweet-2" name="subject" />

                <label for="name">Email</label>
                <input autocomplete="off" type="text" class="input-field contact-scrollreveal sweet-3" name="email" />

                <label htmlFor="message">Message</label>
                <textarea class="input-field contact-scrollreveal sweet-4" name="message" id="" cols="0" rows="7"></textarea>

                <input type="submit" class="submit-btn" value="SEND" />
            </form>
        </div>
    </div>
    <div class="second-box">
        <div class="contact-text">
            Hi, thanks for stopping by today! Would you please take a moment to give some feedbacks or you can suggest any improvements for the website.
        </div>
        <div class="contact-text">
            Find us on Github / Linkedin
        </div>
        <div class="contact-text">
            <a href="https://github.com/MSITians" target="#">
                <i class="fab fa-github-square"></i>
            </a>
            <a href="https://www.linkedin.com/in/homestie-app-45aa961b8">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
        <div style="text-align: center;">
            <a class="home-btn" href="/"> Back to Home</a>
        </div>
    </div>

    <script src="/js/contact-min.js"></script>
</body>

</html>