<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet the team</title>
    <link rel="stylesheet" href="/css/meetTeam.css">
</head>

<body>
    <header>
        <div class="aboutus">
            <h1> Meet the team Homestie!</h1>
            <img class="logo" src="/images/newlogo.png" alt="image not found">
            <p class="teaminfo"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, magnam neque natus
                tempora, obcaecati illum
                quae incidunt fugiat rerum veritatis quo ipsam eius? Quas porro assumenda error. Quo, earum
                facere.Consectetur autem mollitia sed eos aut temporibus odit iste ad enim inventore corporis molestiae
            </p>
        </div>
        <div class="conatainer">
            <div class="member1 test">
                <div class="rahul">
                    <img class="rlogo pic " src="/images/rahulnew.jfif" alt="image not found">
                </div>
                <h2> Rahul Sharma</h3>
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam, optio excepturi! Minus
                        eaque
                        debitis cupiditate pariatur id itaque omnis aperiam enim eveniet non veniam natus, asperiores
                        deleniti impedit harum. Fuga?

                    </p>
            </div>
            <div class="member2 test">
                <div class="silvanus">
                    <img class="slogo pic " src="/images/silvanuslogo.jfif" alt="image not found">
                </div>
                <h2> P.Silvanus</h3>
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam, optio excepturi! Minus
                        eaque
                        debitis cupiditate pariatur id itaque omnis aperiam enim eveniet non veniam natus, asperiores
                        deleniti impedit harum. Fuga?

                    </p>
            </div>
        </div>
        <div class="conatiner2">
            <div class="member3 test">
                <div class="anshul">
                    <img class="rlogo pic " src="/images/anshullogo.jfif" alt="image not found">
                </div>
                <h2>Anshul Verma</h2>
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam, optio excepturi! Minus eaque
                    debitis cupiditate pariatur id itaque omnis aperiam enim eveniet non veniam natus, asperiores
                    deleniti impedit harum. Fuga?

                </p>
            </div>
            <div class="member4 test">
                <div class="somya">
                    <img class="rlogo pic " src="/images/somyalogo.jfif" alt="image not found">
                </div>
                <h2> Somya Sanu</h2>
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam, optio excepturi! Minus eaque
                    debitis cupiditate pariatur id itaque omnis aperiam enim eveniet non veniam natus, asperiores
                    deleniti impedit harum. Fuga?

                </p>
            </div>
        </div>
    </header>
</body>

</html>