<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Meet the team</title>
  <link rel="stylesheet" href="/css/meetTeam-min.css" />
</head>

<body>
  <header>
    <div class="aboutus">
      <h1>Meet the team Homestie!</h1>
      <img class="logo" src="/images/homestie-2.png" alt="image not found" />
      <p class="teaminfo">
        Homestie is the project which will offer employment to many people from small-scale to large-scale profession.The idea of this project came to us during the COVID-19 pandemic due to which many workers lose their job. Project HOMESTIE is a complete package of what you need.You can find employment,can find the installation video of the newly bought product or can book the technician if you found some difficulty in just a click.
      </p>
    </div>
    <div class="conatainer">
      <div class="member1 test">
        <div class="rahul">
          <img class="rlogo pic" src="/images/rahul.webp" alt="image not found" />
        </div>
        <h2>Rahul Sharma</h2>
        <p>(Founder)</p>
        <p>
        <h3>Front End Developer and Content Manager</h3>
        <u>E-mail: rahul.kumarkv1@gmail.com</u>
        <h5>Rahul performs the role of content manager and front end developer and excels in the field of programming
          and mathematics from a young age.After a lot of hours poured into studying through various courses he
          completed his frontend development and started thinking of various ideas for his project.
          Other than his love for coding Rahul enjoys playing cricket and Solving Mathematics equations .he has also
          played competitive cricket for his state of Rajasthan at the national level. He has also done an internship in
          mathematics at IISER and published his research paper</h5>
        </p>
      </div>
      <div class="member2 test">
        <div class="silvanus">
          <img class="slogo pic" src="/images/silvanus.jpg" alt="image not found" />
        </div>
        <h2>Silvanus</h2>
        <p>(Co-Founder)</p>
        <p>
        <h3>Full-Stack developer and leader</h3>
        <u>E-mail: selvasilvanus@gmail.com</u>
        <h5>Silvanus assumes the role of leader and works in close co-ordination of every one in the team. He is very
          resourcefull and has brilliant
          problem solving abilities. After his intermediate education Silvanus started taking intrest in differnt
          languages and was very keen in
          learning then. This was a driving force for his love in web development.</h5>
        <h5>He is a Technology geek and Food nerd and tries to know as much as possible in new and finest technologies.
          e spend his lesure time in travelling and exploring.</h5>
        </p>
      </div>
    </div>
    <div class="conatiner2">
      <div class="member3 test">
        <div class="anshul">
          <img class="rlogo pic" src="/images/anshul.webp" alt="image not found" />
        </div>
        <h2>Anshul Verma</h2>
        <p>(Co-Founder)</p>
        <p>
        <h3>Front End Developer</h3>
        <u>E-mail: ansh98verma@gmail.com</u>
        <h5>Anshul assumes the role of Front-end developer and is very knit picky about the very shortest things. Anshul is a
          very hard-working guy and is very
          much interested in designing from a young age. He started his graduation in Information Technology and then first
          came in contact with Frontend
          Development. Since then he has studied and developed many models for himself.</h5>
        <h5>He likes singing and travelling other than is working hours. He is currently interning in Witty Idiots
          Company.</h5>
        </p>
      </div>
      <div class="member4 test">
        <div class="somya">
          <img class="rlogo pic" src="/images/somya.jfif" alt="image not found" />
        </div>
        <h2>Somya Sanu</h2>
        <p>(Co-Founder)</p>
        <p>
        <h3>Frontend developer and database manager</h3>
        <u>E-mail: somyasanu2805@gmail.com</u>
        <h5>Somya assumes the role of database manager and is very innovative in his approach to solving problems. He is
          less leaned towards programming
          and more towards solutions to issues regarding programming. Never the less he approached towards Frontend
          development and got into it
          pretty soon. He also excels in database programming and cloud assistance.</h5>
        <h5>He is very interested in music and writing. Apart from this he has done various projects in AWS cloud
          computing.</h5>
        </p>
      </div>
    </div>
    <div style="text-align: center; margin-top: 25px">
      <a class="team-btn" href="/contact" style="margin-right: 10px">Contact Us</a>
      <a class="home-btn" href="/" style="margin-left: 10px">Back to home</a>
    </div>
  </header>
</body>

</html>