<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meet the team</title>
    <link rel="stylesheet" href="/css/meetTeam-min.css" />
  </head>

  <body>
    <header>
      <div class="aboutus">
        <h1>Meet the team Homestie!</h1>
        <img class="logo" src="/images/homestie-2.png" alt="image not found" />
        <p class="teaminfo">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, magnam
          neque natus tempora, obcaecati illum quae incidunt fugiat rerum
          veritatis quo ipsam eius? Quas porro assumenda error. Quo, earum
          facere.Consectetur autem mollitia sed eos aut temporibus odit iste ad
          enim inventore corporis molestiae
        </p>
      </div>
      <div class="conatainer">
        <div class="member1 test">
          <div class="rahul">
            <img class="rlogo pic" src="/images/rahul.webp" alt="image not found" />
          </div>
          <h2>Rahul Sharma</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam,
            optio excepturi! Minus eaque debitis cupiditate pariatur id itaque
            omnis aperiam enim eveniet non veniam natus, asperiores deleniti
            impedit harum. Fuga?
          </p>
        </div>
        <div class="member2 test">
          <div class="silvanus">
            <img class="slogo pic" src="/images/silvanus.jpg" alt="image not found" />
          </div>
          <h2>Silvanus</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam,
            optio excepturi! Minus eaque debitis cupiditate pariatur id itaque
            omnis aperiam enim eveniet non veniam natus, asperiores deleniti
            impedit harum. Fuga?
          </p>
        </div>
      </div>
      <div class="conatiner2">
        <div class="member3 test">
          <div class="anshul">
            <img class="rlogo pic" src="/images/anshul.webp" alt="image not found" />
          </div>
          <h2>Anshul Verma</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam,
            optio excepturi! Minus eaque debitis cupiditate pariatur id itaque
            omnis aperiam enim eveniet non veniam natus, asperiores deleniti
            impedit harum. Fuga?
          </p>
        </div>
        <div class="member4 test">
          <div class="somya">
            <img class="rlogo pic" src="/images/somya.jfif" alt="image not found" />
          </div>
          <h2>Somya Sanu</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam,
            optio excepturi! Minus eaque debitis cupiditate pariatur id itaque
            omnis aperiam enim eveniet non veniam natus, asperiores deleniti
            impedit harum. Fuga?
          </p>
        </div>
      </div>
      <div style="text-align: center; margin-top: 25px">
        <a class="team-btn" href="/contact" style="margin-right: 10px"
          >Contact Us</a
        >
        <a class="home-btn" href="/" style="margin-left: 10px"
          >Back to home</a
        >
      </div>
    </header>
  </body>
</html>
