<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>Signup</title>
    <link rel="stylesheet" href="/css/signup-min.css" />
  </head>

  <body>
    <header>
      <form action="/signup/<%= role %>" method="POST">
        <h2>Welcome to Homestie!</h2>
        <div class="firstname">
          <label for="first"> </label>
          <input type="text" name="name" id="first" placeholder="Name" />
        </div>

        <div class="test phoneno">
          <label for="phone"> </label>
          <input
            type="text"
            name="number"
            id=" last"
            placeholder="Phone Number"
          />
        </div>
        <div class="test emailid">
          <label for="emailid"> </label>
          <input type="text" name="email" id=" last" placeholder="Email Id" />
        </div>
        <div class="test pass">
          <label for="password"> </label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
          />
        </div>
        <div class="test confirmpass">
          <label for="password2"> </label>
          <input
            type="password"
            name="password2"
            id="password2"
            placeholder="Confirm Password"
          />
        </div>

        <div class="test submit">
          <input type="submit" value="Sign up" />
        </div>
        <div class="create">
          <a href="/login/<%= role %>">Already have an account! &#10145; </a>
        </div>
      </form>
    </header>
  </body>
</html>