@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
  min-height: 100vh;
  background: #eeeeee;
  color: #333;
  padding: 0;
  margin: 0;
}

.big-container {
  margin: 60px 0 0;
}

.about-us-heading {
  display: inline-block;
  margin: 0 0 20px;
  border-bottom: 2px solid #333;
}

.about {
  margin: 0 20px 50px;
  text-align: center;
}

.about-p {
  padding: 15px;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
  text-align: center;
}

h1 {
  padding: 0 0 10px;
  font-size: 40px;
}

.goals-p {
  text-align: center;
  padding: 5px 15px;
  font-size: 20px;
}

.container {
  background: #dddcdc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 27%;
  width: 27%;
}

.goals {
  margin: 50px 20px;
  border-right: 1px solid grey;
}

/* team button styles.. */

.team-btn {
  margin: 50px 0;
  display: inline-block;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  color: rgb(97, 96, 96);
  padding: 10px 10px;
  outline: none;
  background: transparent;
  border: 1px solid rgb(98, 98, 98);
  transition: all 0.4s ease;
}

.team-btn:hover {
  border: 1px solid #222;
  color: #eeeeee;
  background-color: #222;
}

/* media queries.... */

@media screen and (max-width: 950px) {
    .image{
        width: 30%;   
        height: 30%;   
    }
}

@media screen and (max-width: 800px) {
    .image{
        display: none !important;  
    }
    .goals{
        border: 0;
    }
}