@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

*{
  box-sizing: border-box;
}

html,
body {
  font-family: "open sans", sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  user-select: none;
  background: #0e0d0d;


  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  display: grid;
  grid-template-areas: "first-box second-box";
  grid-template-rows: 100vh;
}

html {
  scroll-behavior: smooth;
}

.first-box{
  grid-area: first-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-box{
  grid-area: second-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3{
  margin: 20px 0;
  color:#000;
  font-weight: 500;
  letter-spacing: 1px;  
  font-size: 30px;
}

.main-container {
  margin: 0 auto;
  padding: 10px;
}

label,
input,
textarea {
  color: #4b5156;
}

.submit-btn:active {
  opacity: 0.85;
}

.submit-btn:active {
  opacity: 0.5;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #c1c1c1;
}

body::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  border: 2px solid #c1c1c1;
}

/* contact section */

.contact-form {
  display: block;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #eaeaea;
  max-width: 600px;
}

.input-field {
  letter-spacing: 1px;
  font-weight: 500;
  width: 100%;
  padding: 10px 5px;
  font-size: 14px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
}

textarea {
  transition: 0s;
  max-width:100%;
  min-width: 90%;
  min-height: 100px;
}

.input-field:focus {
  outline: none;
  border: 1px solid #888888;
}

.contact-form label {
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 2.5rem;
  font-weight: 600;
}

.submit-btn {
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
  padding: 10px 0;
  color: #fff;
  background-color: #333;
  border: none;
  transition: all 0.3s ease;
}

.submit-btn:hover {
  background-color: #222;
}

.submit-btn:focus {
  outline: none;
}

/* home button styles.. */

.contact-text{
  text-align: center;
  color: #d3d1d1;
  max-width: 400px;
  margin: 30px 0;
}

.contact-text:nth-child(n+2){
  margin: 10px;
}

.contact-text:nth-child(3){
  font-size: 40px;
}

.contact-text a{
  margin: 0 10px;
  color: #d3d1d1;
  text-decoration: none;
  transition: all .4s ease;
}

.contact-text a:hover{
  font-size: 45px;
}

.home-btn{
  margin: 20px 0 0;
  display: inline-block;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  color: rgb(170, 168, 168);
  padding: 10px 10px;
  outline: none;
  background: transparent;
  border: 1px solid rgb(170, 168, 168);
  transition: all 0.4s ease;
}

.home-btn:hover{
  border: 1px solid #222;
  background-color: aliceblue;
  color: #222;
}

/* swal... */

.swal2-toast {
  box-shadow: none !important;
  background-color: #f4f4f4 !important;
  border: 1px solid #444 !important;
  padding: 15px !important;
}
.swal2-title {
  color: #333 !important;
}

/* media queries... */

@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
  body{
    background: #1b1b1b;
  }
  .second-box{
    background: #1b1b1b;
  }
}

@media screen and (max-width: 1085px) {
  body{
    grid-template-areas: 
    "first-box"
    "second-box";
    grid-template-rows: auto;
  }
  .home-btn{
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 800px) {
  .contact-form{
    padding: 8px;
  }
}

@media screen and (max-width: 800px) {
  .main-container {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  h3 {
    font-size: 23px;
  }
  .contact-text{
  padding: 0 10px;
  }
}

@media screen and (max-width: 360px) {
  .swal2-toast {
    padding: 10px !important;
    font-size: 13px !important;
  }
}