* {
    padding: 0px;
    margin: 0px;
  }
  
  input:focus::placeholder {
    opacity: 0;
  }
  
  body {
    background-color: #050505;
    font-family: "Roboto", sans-serif;
  }
  img {
    width: 200px;
    height: 200px;
    position: relative;
    top: 50px;
  }
  
  input{
      letter-spacing: 1px;
      text-align: center;
  }
  
  .container {
    display: flex;
    flex-direction: row-reverse;
    width: 600px;
    height: 400px;
    background-color: #ebebeb;
    padding: 50px 100px;
    margin: auto;
    position: relative;
    top: 100px;
  }
  input[type="text"]:focus {
    outline: none;
    text-align: center;
  }
  
  input[type="password"]:focus {
    outline: none;
    text-align: center;
  }
  h2 {
    padding-bottom: 15px;
    color: black;
  }
  
  form {
    background-color: #ebebeb;
    width: 400px;
    height: 400px;
    margin: auto;
    padding: 50px 20px;
    box-sizing: border-box;
    position: relative;
    right: 90px;
  }
  
  .email {
    padding: 10px;
  }
  
  .password {
    padding: 10px;
  }
  
  .submit {
    padding: 10px;
  }
  
  ::placeholder {
    text-align: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    color: gray;
    font-size: 14px;
    animation: rahul 2s ease-in-out 0.5s 12 forwards;
  }
  
  input[type="submit"] {
    width: 25em;
    height: 3.8em;
    font-size: 14px;
    background-color: rgb(31, 177, 43);
    color: white;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    border: none;
    animation: rahul 2s ease-in-out 0.5s forwards;
  }
  
  input[type="submit"]:focus, input[type="submit"]:active{
      outline: none;
  }
  
  @keyframes rahul {
    from {
      width: 5em;
    }
  
    to {
      width: 25em;
    }
  }
  
  input[type="text"] {
    width: 25em;
    height: 3.8em;
    font-size: 14px;
    border: none;
    color: black;
    background-color: rgb(224, 224, 224);
    border-radius: 50px;
    animation: rahul 2s ease-in-out 0.5s 1 forwards;
  }
  
  input[type="password"] {
    width: 25em;
    height: 3.8em;
    font-size: 14px;
    border: none;
    color: black;
    background-color: rgb(224, 224, 224);
    border-radius: 50px;
    animation: rahul 2s ease-in-out 0.5s 1 forwards;
  }
  
  a {
    text-decoration: none;
    color: #2b2929;
    transition: all 0.3s ease;
  }
  
  a:hover {
    letter-spacing: 1px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: green;
    cursor: pointer;
  }
  
  .create {
    text-align: center;
    padding-top: 55px;
    font-size: 14px;
    text-shadow: white;
    color: #333;
  }
  .forgot {
    padding: 5px;
    text-align: center;
    font-size: 14px;
    text-shadow: white;
    color: #333;
  }
  span {
    color: gray;
  }