@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

h3 {
  text-decoration: underline;
  padding: 20px;
}
h4 {
  text-align: center;
  padding-bottom: 1rem;
}
h1 {
  text-align: center;
  margin-top: 10px;
  padding: 20px;
}
.textover h1 {
  font-size: 3.5rem;
  letter-spacing: 2px;
  color: #222222;
  font-family: "open sans", sans-serif;
}
@media only screen and (max-width: 634px) {
  .logo {
    display: none;
  }
  h1 {
    text-align: center;
  }
}
@media only screen and (max-width: 501px) {
  h1 {
    display: none;
    font-size: 10px;
  }
  .background {
    display: none;
  }
}
.logo {
  margin-top: 5px;
  width: 25%;
}
hr {
  width: 30%;
  background-color: white;
}
.jumbotron {
  margin: 1rem 0 5rem;
}
